<div class="search-container">
  <div class="search-input-wrapper" (click)="handleSearchContact()">
    <span class="search-icon">🔍</span>
    <input
      type="text"
      [(ngModel)]="text"
      placeholder="Search or start new chat"
      class="search-input"
    />
  </div>
</div>
<main class="messages-content">
  <section class="tiles-section">
    <div>
      @for (contact of myContacsLoaded(); track contact.conversation_id) {
        <app-send-message [contact]="contact" />
        <!-- <div class="message-tile" (click)="onClick(contact.conversation_id)">
          <img
            src="https://i.pravatar.cc/300?u=15"
            class="tile-avatar"
            width="50"
            height="50"
            alt=""
          />
          <div class="tile-info">
            <div class="tile-header">
              <h4 class="tile-name">{{ contact.participant_name | capitalizePipe }}</h4>
              <span class="tile-time">{{ contact.last_message_time | date: 'medium' }}</span>
            </div>
            <p class="tile-message">{{ contact.last_message || 'No messages yet' }}</p>
          </div>
        </div> -->
      }
    </div>
  </section>
</main>
<footer className="sidebar-footer">
  <button class="add-contact-btn" title="Add new contact" (click)="navigateToForm()">👤+</button>
</footer>
