<div class="contact-container">
  <div class="search-container">
    <div class="search-input-wrapper">
      <span class="search-icon" (click)="handleSearchContact()">🔍</span>
      <input
        type="text"
        [(ngModel)]="text"
        (keyup.enter)="handleSearchContact()"
        (input)="onInputChange()"
        placeholder="Search for contact"
        class="search-input"
      />
    </div>
  </div>
  <main class="messages-content">
    @if (hasSearched()) {
      <section class="recent-section">
        @if (errorSearchBar()) {
          <div class="search-error">{{ errorSearchBar() }}</div>
        } @else if (!errorSearchBar() && !searchedContact()) {
          <div class="search-error">⚠️ No results found. Please try a different keyword.</div>
        } @else {
          <p class="recent-title">Your Search</p>
          <div class="recent-list">
            <div class="avatar-container">
              <img
                [src]="searchedContact()?.urlPhoto"
                class="tile-avatar"
                width="50"
                height="50"
                alt=""
              />
            </div>
            <div class="tile-info">
              <div class="tile-header">
                <h3 class="tile-name">
                  {{ searchedContact()?.participant_name || 'unknown' | capitalizePipe }}
                </h3>
              </div>
            </div>
          </div>
        }
      </section>
    }
    <section class="tiles-section">
      <div>
        @for (contact of myContacsLoaded(); track contact.conversation_id) {
          <app-send-message [contact]="contact" />
        }
      </div>
    </section>
  </main>
  <footer className="sidebar-footer">
    <button class="add-contact-btn" title="Add new contact" (click)="navigateToForm()">👤+</button>
  </footer>
</div>
